<app-header class="header" title="User Info"></app-header>
<div *ngIf="!isDataAvailable">Loading ...</div>
<div *ngIf="isDataAvailable">
    <app-details [userInfo]="data.userInfo"></app-details>
    <app-menu [data]="data" (selectedFollowType)="onSelectedFollowType($event)"></app-menu>
    <app-followings *ngIf="showFollowings" 
        [title]="data.followingTitle"
        [followings]="data.followings" 
        [followingsCount]="data.followingCount"></app-followings>
    <app-followers *ngIf="showFollowers" 
        [followers]="data.followers"
        [followersCount]="data.followersCount" ></app-followers>
</div>
